body {
  margin-left: 0;
  margin-right: 0;
}

#cvs {
  border: 1px solid var(--md-sys-color-outline-variant);
  width: 100%;
  aspect-ratio: 4 / 3;
}

#controller {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#sele {
  display: none;
}

#controller > div,
audio {
  width: 100%;
}

audio::-webkit-media-controls-panel {
  background-color: var(--md-sys-color-media-controls-panel);
}

audio::-webkit-media-controls-play-button {
  background-color: var(--md-sys-color-primary-container);
  border-radius: 50%;
}
