#text {
  line-height: 1.2rem;
}

#other-options {
  line-height: 1;
}

#add-font-feature-settings-button {
  margin-top: 8px;
}

#act-opts {
  display: flex;
  overflow: visible;
  gap: 8px;
}

#close {
  margin-left: auto;
}

#availability {
  display: flex;
  align-items: center;
  overflow: visible;
  line-height: 1;
}

#availability-switch {
  margin-left: 0.5rem;
}

#added-font-feature-settings-container,
#sortable-list-container {
  background-color: var(--md-sys-color-background-text);
  padding: 10px;
  border-radius: 5px;
  display: none;
  gap: 4px;
  max-height: 300px;
  overflow: scroll !important;
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
  overflow: visible;
  margin-top: 8px;
}

:is(#added-font-feature-settings-container, #sortable-list-container) > div {
  display: flex;
  width: 100%;
  overflow: visible;
  align-items: center;
  line-height: 1;
}

#added-font-feature-settings-container > div > label {
  margin-left: auto;
  margin-right: 8px;
}

#error-text {
  text-align: center;
  word-break: break-all;
}

#error[open] {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#file-upload-container {
  margin: 8px 0;
}

#font-upload {
  display: none;
}

.sortable-item {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: var(--md-sys-color-sortable-item);
  border-radius: 4px;
  box-shadow: 0 1px 3px var(--md-sys-color-shadow-alpha-1a);
}

.sortable-item span {
  word-break: break-all;
  margin-right: auto;
}

.sortable-item button {
  margin-left: 8px;
}

.sortable-item button[class^="move-"] {
  border-radius: 4px;
  width: 0;
  height: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
