#text {
  line-height: 1.2rem;
  width: 100%;
  resize: none;
  min-height: 55px;
}

#other-options {
  line-height: 1;
}

#add-font-feature-settings-button {
  margin-top: 8px;
}

#close {
  margin-left: auto;
}

#availability {
  display: flex;
  align-items: center;
  overflow: visible;
  line-height: 1;
  color: var(--md-sys-color-on-surface);
}

#availability-switch {
  margin-left: 0.5rem;
}

#added-font-feature-settings-container md-switch {
  margin-left: auto;
  margin-right: 8px;
}

#added-font-feature-settings-container,
#sortable-list-container {
  background-color: var(--md-sys-color-surface-container-low);
  padding: 10px;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  margin-top: 8px;
  row-gap: 8px;
  box-sizing: border-box;
}

:is(#added-font-feature-settings-container, #sortable-list-container) > div {
  display: flex;
  overflow: visible;
  align-items: center;
  line-height: 1;
}

#file-upload-container {
  margin: 8px 0;
}

#font-upload {
  display: none;
}

.sortable-item {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: var(--md-sys-color-surface-dim);
  border-radius: 4px;
  box-shadow: 0 1px 3px var(--md-sys-color-shadow-alpha-1a);
  column-gap: 8px;
}

.sortable-item span {
  word-break: break-all;
  margin-right: auto;
}

.other-options md-list-item:first-child {
  background-color: var(--md-sys-color-surface-container-highest);
  --md-list-item-label-text-size: 1.5rem;
  --md-list-item-label-text-line-height: 1.5rem;
  --md-list-item-one-line-container-height: 3.2rem;
}

.other-options md-list-item {
  background-color: var(--md-sys-color-surface-container);
  --md-list-item-label-text-size: 1rem;
  --md-list-item-label-text-line-height: 1.5rem;
  --md-list-item-one-line-container-height: 2.7rem;
}

md-slider {
  margin: 0 -10px;
  min-width: 190px;
}
