@font-face {
  font-family: 'SarasaMonoSC-Bold';
  src: url('../../../assets/fonts/fuckToFly/SarasaMonoSC-Bold.woff2')
    format('woff2');
}

.input {
  width: 100%;
}

.canvas {
  width: 100%;
  aspect-ratio: 1 / calc(928 / 1080);
  margin-bottom: 16px;
}

.btn {
  display: flex;
  justify-content: center;
}
