body {
  --deg: 0deg;
  margin-top: 70px;
  overflow: visible;
}

* {
  margin: 0;
}

#frame {
  width: 350px;
  height: 425px;
}

#hand {
  width: 114.514px;
  height: 25px;
  position: absolute;
  left: 87px;
  top: 6px;
  transform: rotate(var(--deg));
  transform-origin: right;
}

#acceleration {
  position: absolute;
  left: 90px;
  top: 75px;
  font-size: 35px;
}

md-slider {
  width: 90vw;
}
