#inputer-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(8, 1fr);
  gap: 12px 8px;
  justify-items: center;
}

#input {
  width: 100%;
  margin-top: 8px;
}

.idc-inputer,
.curve-inputer {
  position: relative;
  --md-filled-tonal-icon-button-container-shape: 4px;
  --md-filled-tonal-icon-button-icon-size: 4.4vwm;
  --md-filled-tonal-icon-button-icon-color: var(
    --md-sys-color-on-surface-variant
  );
  --md-filled-tonal-icon-button-container-color: var(
    --md-sys-color-surface-container-high
  );
}

:is(.idc-inputer, .curve-inputer) md-icon {
  --md-icon-font: IDC, Plgo1, Noto-Color-Emoji, Plgo2, Noto, NotoSansSC,
    NotoSansKR, Monu, Segoe, Microsoft, others, sans-serif, Last;
}

:is(.idc-inputer, .curve-inputer):after {
  font-size: 8px;
  position: absolute;
  top: 100%;
  opacity: 0.5;
}

.idc-inputer:nth-child(1):after {
  content: 'LR';
}

.idc-inputer:nth-child(2):after {
  content: 'UD';
}

.idc-inputer:nth-child(3):after {
  content: 'LL';
}

.idc-inputer:nth-child(4):after {
  content: 'UU';
}

.idc-inputer:nth-child(5):after {
  content: 'OC';
}

.idc-inputer:nth-child(6):after {
  content: 'OD';
}

.idc-inputer:nth-child(7):after {
  content: 'OU';
}

.idc-inputer:nth-child(8):after {
  content: 'OR';
}

.idc-inputer:nth-child(9):after {
  content: 'OL';
}

.idc-inputer:nth-child(10):after {
  content: 'RD';
}

.idc-inputer:nth-child(11):after {
  content: 'LD';
}

.idc-inputer:nth-child(12):after {
  content: 'RU';
}

.idc-inputer:nth-child(13):after {
  content: 'LU';
}

.idc-inputer:nth-child(14):after {
  content: 'XX';
}

.idc-inputer:nth-child(15):after {
  content: 'MI';
}

.idc-inputer:nth-child(16):after {
  content: 'RO';
}

.idc-inputer:nth-child(17):after {
  content: 'SU';
}

.idc-inputer:nth-child(24):after {
  content: 'RE';
}

.curve-inputer:nth-child(19):after {
  content: 'ULQ';
}

.curve-inputer:nth-child(20):after {
  content: 'URQ';
}

.curve-inputer:nth-child(21):after {
  content: 'LRQ';
}

.curve-inputer:nth-child(22):after {
  content: 'LLQ';
}

pre {
  min-height: 68px;
  white-space: unset;
  margin: 0;
}

code {
  white-space: pre-wrap;
}

#ids-svg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--md-sys-color-surface-container-high);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  display: none;
}

#res-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#json-code {
  background-color: transparent;
}
