#container {
  display: grid;
  width: 100%;
  aspect-ratio: 1 / 1;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(20, 1fr);
}

cell {
  background-color: var(--md-sys-color-cell);
  box-shadow: inset 0 0 0 0.5px var(--md-sys-color-shadow-cell);
  border-radius: 25%;
}

main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.inner-div {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#rule {
  text-align: center;
  overflow: visible;
}

#generations {
  width: 50%;
}
