.btns {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.options md-list-item {
  --md-list-item-label-text-size: 1rem;
  --md-list-item-label-text-line-height: 1.5rem;
  --md-list-item-one-line-container-height: 2.7rem;
}

md-slider {
  margin: 0 -10px;
  min-width: 190px;
}

.input {
  width: 100%;
}
