main > div > div:nth-child(2) {
  display: block;
}

main > div > div {
  margin-bottom: 16px;
}

input[type="number"], input[type="text"] {
  width: 100%;
}

.checkbox-section label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 0.875rem;
  color: var(--md-sys-color-on-surface-variant);
}

.checkbox-section {
  display: flex;
  align-items: unset;
  flex-direction: column;
}

input[type="checkbox"] {
  margin-right: 8px;
}

button > span:last-child {
  font-size: 24px;
}

.primary-button {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
}

.secondary-button {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
}

textarea {
  border-radius: 4px;
  resize: vertical;
  min-height: 100px;
  padding: 5px 10px 0 10px;
}

#counter {
  font-size: 0.875rem;
  color: var(--md-sys-color-on-surface-variant);
  margin-top: 4px;
  display: block;
}

input[class="uni"]{
  width: 60px;
  padding: 4px;
  margin: 0 4px;
}

.add-button {
  background-color: #90FF90;
  border: 1px solid #50FF50;
  border-radius: 4px;
  margin-left: 8px;
}

.rem {
  background-color: #FF9090;
  border: 1px solid #FF5050;
  border-radius: 4px;
  font-size: 24px;
}

#con {
  margin-top: 8px;
}

#con > div {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
