main>div>div:nth-child(2) {
  display: block;
}

main>div>div {
  margin-bottom: 16px;
}

#checkbox-section>label:not(.placeholder) {
  margin-bottom: 8px;
}

#checkbox-section label:not(.placeholder) {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: var(--md-sys-color-on-surface-variant);
}

#checkbox-section {
  display: flex;
  align-items: unset;
  flex-direction: column;
}

#count-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: visible;
  gap: 5px;
}

input[type="checkbox"] {
  margin-right: 8px;
}

input[class="uni"] {
  width: 4.5rem;
  padding: 4px;
  margin: 0 4px;
}

.add-button {
  background-color: #90FF90;
  border: 1px solid #50FF50;
  border-radius: 4px;
  height: 20px;
  width: 20px;
  margin-left: 4px;
}

.rem-button {
  background-color: #FF9090;
  border: 1px solid #FF5050;
  height: 20px;
  width: 20px;
  border-radius: 4px;
}

button.nf {
  font-size: 1rem;
} 

#custom-interval-container,
#custom-blocks-container {
  background-color: var(--md-sys-color-background-text);
  padding: 10px;
  border-radius: 5px;
  display: none;
  gap: 4px;
  max-height: 300px;
  overflow: scroll;
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
  overflow: visible;
}

:is(#custom-interval-container, #custom-blocks-container)>div {
  display: flex;
  width: 100%;
  overflow: visible;
  align-items: center;
}

#custom-blocks-container>div {
  justify-content: space-between;
}

#unicode-block-section,
#checkbox-section {
  overflow: visible;
}

#custom-interval-section,
#unicode-block-section {
  margin-bottom: 8px;
}

#result-section {
  margin: 0;
}

#result-container {
  margin: 0;
  width: 100%;
  min-height: 68px;
  box-sizing: border-box;
  white-space: unset;
}

#result-ele {
  overflow: visible;
  word-break: break-all;
}

#result-ele::before {
  content: '';
  width: 1.75rem;
  height: 1.75rem;
  float: right;
}

#action-buttons {
  margin-bottom: 4px;
}
