#count-slider {
  width: 100%;
}

#checkbox-section > md-list-item {
  --md-list-item-one-line-container-height: 2rem;
}

#count-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: visible;
  gap: 5px;
}

#select-blocks {
  margin: 0;
  margin-bottom: 8px;
}

#custom-char {
  margin-bottom: 8px;
}

#custom-interval-container,
#custom-blocks-container {
  background-color: var(--md-sys-color-surface-container-low);
  padding: 10px;
  border-radius: 5px;
  display: none;
  max-height: 300px;
  overflow: scroll;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 8px;
}

#custom-interval-container {
  padding-top: calc(10px - 0.4rem);
}

#custom-interval-container md-list-item {
  --md-list-item-one-line-container-height: 40px;
}

#custom-interval-container md-filled-tonal-icon-button {
  transform: translateY(0.2rem);
}

#custom-blocks-container {
  padding-top: 18px;
  padding-bottom: 0;
}

#custom-blocks-container md-list-item {
  margin-top: -20px;
}

#custom-interval-container md-outlined-text-field {
  width: 6rem;
  --md-outlined-field-bottom-space: 2px;
  --md-outlined-field-top-space: 2px;
  --md-outlined-field-leading-space: 2px;
  --md-outlined-field-trailing-space: 2px;
  margin: 0 4px;
  padding-top: 0.4rem;
}

#result-container {
  margin: 0;
  width: 100%;
  min-height: 68px;
  box-sizing: border-box;
  white-space: unset;
}

#result-ele {
  overflow: visible;
  word-break: break-all;
  box-sizing: border-box;
}

#result-ele::before {
  content: '';
  width: 1.75rem;
  height: 1.75rem;
  float: right;
}

#action-buttons {
  margin-bottom: 4px;
}

#gen {
  margin-right: 8px;
}
