body {
  padding: 0;
  margin: 4px;
  letter-spacing: 0px;
}

main > div {
  display: grid;
  gap: 4px;
}

main > div > div:nth-child(2) {
  display: block;
  margin: 0;
}

main > div > div {
  display: block;
  font-size: 24px;
  box-shadow: 0 1px 0px var(--md-sys-color-shadow-alpha-05);
  background-color: var(--md-sys-color-surface-container-low);
  padding: 8px;
  border-radius: 10px;
}

hr {
  margin: 1px;
}

.stroke {
  margin-right: 0.5em;
}
