body {
  padding: 0;
  margin: 4px;
  letter-spacing: 0px;
}

main > div {
  display: grid;
  gap: 4px;
}

main > div > div:nth-child(2) {
  display: block;
  margin: 0;
}

main > div > div {
  display: block;
  font-size: 24px;
  box-shadow: 0 1px 0px var(--md-sys-color-shadow-alpha-05);
  background-color: var(--md-sys-color-surface-container-low);
  padding: 8px;
  border-radius: 10px;
}

.no-glyph-in-plgo {
  color: var(--md-sys-color-on-no-glyph-in-plgo);
  box-shadow: 0 -2px var(--md-sys-color-shadow-gray) inset;
  transition: all 0.3s ease;
  text-decoration: none;
  font-size: unset;
}

.no-glyph-in-plgo:hover {
  cursor: pointer;
  box-shadow: 0px -1.8rem 0px var(--md-sys-color-shadow-gray-hover) inset;
}

hr {
  margin: 1px;
}

.stroke {
  margin-right: 0.5em;
}
