@font-face {
    font-family: 'Noto-Color-Emoji';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Noto Color Emoji.ttf") format('truetype');
}

@font-face {
    font-family: 'Noto-Unicode';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Noto Unicode.ttf") format('truetype');
}

@font-face {
    font-family: 'Monu-Hani';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Monu Hani.ttf") format('truetype');
}

@font-face {
    font-family: 'Monu-Hanp';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Monu Hanp.ttf") format('truetype');
}

@font-face {
    font-family: 'Monu-Han2';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Monu Han2.ttf") format('truetype');
}

@font-face {
    font-family: 'Monu-Han3';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Monu Han3.ttf") format('truetype');
}

@font-face {
    font-family: 'Noto-Serif-Tangut';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Noto Serif Tangut.ttf") format('truetype');
}

@font-face {
    font-family: 'Monu-Temp';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Monu Temp.ttf") format('truetype');
}

@font-face {
    font-family: 'Segoe-UI-Historic';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Segoe UI Historic-edt.ttf") format('truetype');
}

@font-face {
    font-family: 'MV-Boli';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/MV Boli-edt.ttf") format('truetype');
}

@font-face {
    font-family: 'Ebrima';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Ebrima-edt.ttf") format('truetype');
}

@font-face {
    font-family: 'Nirmala-UI';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Nirmala UI-edt.ttf") format('truetype');
}

@font-face {
    font-family: 'Leelawadee-UI';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Leelawadee UI-edt.ttf") format('truetype');
}

@font-face {
    font-family: 'Myanmar-Text';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Myanmar Text-edt.ttf") format('truetype');
}

@font-face {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Calibri-edt.ttf") format('truetype');
}

@font-face {
    font-family: 'Malgun-Gothic';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Malgun Gothic-edt.ttf") format('truetype');
}

@font-face {
    font-family: 'Gadugi';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Gadugi-edt.ttf") format('truetype');
}

@font-face {
    font-family: 'Microsoft-Tai-Le';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Microsoft Tai Le-edt.ttf") format('truetype');
}

@font-face {
    font-family: 'Microsoft-New-Tai-Lue';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Microsoft New Tai Lue-edt.ttf") format('truetype');
}

@font-face {
    font-family: 'Segoe-UI-Symbol';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Segoe UI Symbol-edt.ttf") format('truetype');
}

@font-face {
    font-family: '微软雅黑';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/微软雅黑-edt.otf") format('opentype');
}

@font-face {
    font-family: 'Yu-Gothic';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Yu Gothic-edt.ttf") format('truetype');
}

@font-face {
    font-family: 'Microsoft-Yi-Baiti';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Microsoft Yi Baiti-edt.ttf") format('truetype');
}

@font-face {
    font-family: 'Segoe-UI';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Segoe UI-edt.ttf") format('truetype');
}

@font-face {
    font-family: 'Microsoft-PhagsPa';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Microsoft PhagsPa-edt.ttf") format('truetype');
}

@font-face {
    font-family: 'Javanese-Text';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Javanese Text-edt.ttf") format('truetype');
}

@font-face {
    font-family: 'Microsoft-JhengHei';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Microsoft JhengHei-edt.ttf") format('truetype');
}

@font-face {
    font-family: 'Segoe-UI-Emoji';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Segoe UI Emoji-edt.ttf") format('truetype');
}

@font-face {
    font-family: 'Last-Resort';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Last Resort.ttf") format('truetype');
}

.font {
  font-family: Noto-Color-Emoji, Noto-Unicode, Monu-Hani, Monu-Hanp,
    Monu-Han2, Monu-Han3, Noto-Serif-Tangut, Monu-Temp, Segoe-UI-Historic, 
    MV-Boli, Ebrima, Nirmala-UI, Leelawadee-UI, Myanmar-Text,
    Calibri, Malgun-Gothic, Gadugi, Microsoft-Tai-Le, Microsoft-New-Tai-Lue,
    Segoe-UI-Symbol, 微软雅黑, Yu-Gothic, Microsoft-Yi-Baiti, Segoe-UI,
    Microsoft-PhagsPa, Javanese-Text, Microsoft-JhengHei, Segoe-UI-Emoji, Last-Resort;
}