@font-face {
  font-family: 'Ctrl-Ctrl';
  src: url('../../assets/fonts/display/Ctrl Ctrl.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Noto-Color-Emoji';
  src: url('../../assets/fonts/display/Noto-COLRv1.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'UFSEmoji';
  src: url('../../assets/fonts/display/UFSEmoji-Ext.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Plgo1';
  src: url('../../assets/fonts/display/Plgo1.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Plgo2';
  src: url('../../assets/fonts/display/Plgo2.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansSuper';
  src: url('../../assets/fonts/display/NotoSansSuper.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Noto';
  src: url('../../assets/fonts/display/NotoUnicode.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansSC';
  src: url('../../assets/fonts/display/NotoSansSC.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Monu';
  src: url('../../assets/fonts/display/Monu Temp.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Last';
  src: url('../../assets/fonts/display/Last ResortHE.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'IDC';
  src: url('../../assets/fonts/display/Ideographic-Description-Character.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Sesh';
  src: url('../../assets/fonts/display/UnicodiaSesh.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'NewGardiner';
  src: url('../../assets/fonts/display/NewGardiner.woff2') format('woff2');
  font-display: swap;
}

:root {
  --base-fonts: Plgo1, Noto-Color-Emoji, UFSEmoji, Plgo2, NotoSansSuper, Noto,
    NotoSansSC, Sesh, NewGardiner, Monu, sans-serif, Last;
}

.font,
.font-without-ctrlctrl,
.font-idc {
  font-family: var(--font);
  --md-filled-text-field-input-text-font: var(--font);
  --md-outlined-text-field-input-text-font: var(--font);
  font-style: normal;
  font-weight: 400;
}

.font {
  --font: Ctrl-Ctrl, var(--base-fonts);
}

.font-without-ctrlctrl {
  --font: var(--base-fonts);
}

.font-idc {
  --font: IDC, var(--base-fonts);
}
