@font-face {
  font-family: 'Ctrl-Ctrl';
  src: url('../../assets/fonts/display/Ctrl Ctrl.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Noto-Color-Emoji';
  src: url('../../assets/fonts/display/Noto Color Emoji.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Plgo1';
  src: url('../../assets/fonts/display/Plgo1.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Plgo2';
  src: url('../../assets/fonts/display/Plgo2.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Noto';
  src: url('../../assets/fonts/display/NotoUnicode.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansSC';
  src: url('../../assets/fonts/display/NotoSansSC.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Monu';
  src: url('../../assets/fonts/display/Monu Temp.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansSuper';
  src: url('../../assets/fonts/display/NotoSansSuper.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Last';
  src: url('../../assets/fonts/display/Last Resort.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'IDC';
  src: url('../../assets/fonts/display/Ideographic-Description-Character.woff2')
    format('woff2');
  font-display: swap;
}

.font {
  --font: Ctrl-Ctrl, Plgo1, Noto-Color-Emoji, Plgo2, Noto, NotoSansSC,
    NotoSansKR, Monu, NotoSansSuper, sans-serif, Last;
  font-family: var(--font);
  --md-filled-text-field-input-text-font: var(--font);
  --md-outlined-text-field-input-text-font: var(--font);
  font-style: normal;
  font-weight: 400;
}

.font-without-ctrlctrl {
  --font: Plgo1, Noto-Color-Emoji, Plgo2, Noto, NotoSansSC, NotoSansKR, Monu,
    NotoSansSuper, sans-serif, Last;
  font-family: var(--font);
  --md-filled-text-field-input-text-font: var(--font);
  --md-outlined-text-field-input-text-font: var(--font);
  font-style: normal;
  font-weight: 400;
}

.font-idc {
  --font: IDC, Plgo1, Noto-Color-Emoji, Plgo2, Noto, NotoSansSC, NotoSansKR,
    Monu, NotoSansSuper, sans-serif, Last;
  font-family: var(--font);
  --md-filled-text-field-input-text-font: var(--font);
  --md-outlined-text-field-input-text-font: var(--font);
  font-style: normal;
  font-weight: 400;
}
