.text-input-container, .textarea-container {
  position: relative;
  width: calc(100% - 20px);
  margin: 1rem 10px 5px 10px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-input-container > input {
  padding: 0 5px 5px 5px;
  margin: 0;
  width: 100%;
  border: none;
  background-color: var(--md-sys-color-background-text);
}

.textarea-container > textarea {
  padding: 0 5px 5px 5px;
  margin: 0;
  width: 100%;
  border: none;
  background-color: var(--md-sys-color-background-text);
}

.text-input-container > input:hover {
  border: none;
  outline: none;
}

.textarea-container > textarea:hover {
  border: none;
  outline: none;
}

.text-input-container > label {
  position: absolute;
  font-size: initial;
  margin: 0;
  padding: 0;
  color: #00000055;
  left: 0;
  bottom: 0;
  transition: bottom 0.3s ease, font-size 0.3s ease;
}

.textarea-container > label {
  position: absolute;
  font-size: initial;
  margin: 0;
  padding: 0;
  color: #00000055;
  left: 0;
  top: 100%;
  transform: translateY(-100%);
  transition: top 0.3s ease, font-size 0.3s ease;
}

.text-input-container > input:valid ~ label,
.text-input-container > input:focus ~ label {
  font-size: 0.65rem;
  bottom: 1.5rem;
}

.textarea-container > textarea:valid ~ label,
.textarea-container > textarea:focus ~ label,
.textarea-container > .top {
  font-size: 0.65rem;
  top: 0;
}

.text-input-container > span, .textarea-container > span {
  position: absolute;
  background-color: var(--md-sys-color-outline);
  height: 1px;
  bottom: 0;
  transform-origin: top;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.text-input-container > input:focus ~ span,
.textarea-container > textarea:focus ~ span {
  transform: scaleY(3);
  background-color: var(--md-sys-color-primary);
}
