.select-container {
  margin: 8px 0;
  width: 200px;
  position: relative;
  box-sizing: border-box;
  overflow: visible;
  z-index: 10000;
}

.select {
  box-shadow: 0 3px 5px var(--md-sys-color-shadow-alpha-33);
  width: 100%;
  box-sizing: border-box;
  background-color: var(--md-sys-color-surface-variant);
  padding: 8px;
  color: var(--md-sys-color-on-surface-variant);
  font-weight: 500;
  border-radius: 8px;
  overflow: visible;
  cursor: pointer;
}

.select-content > .nf {
  overflow: visible;
}

.opts-list {
  margin-top: 8px;
  z-index: 10000;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  background-color: var(--md-sys-color-surface-variant);
  color: var(--md-sys-color-on-surface-variant);
  max-height: 180px;
  height: 0;
  overflow: hidden;
  border-radius: 8px;
}

.opts-list::-webkit-scrollbar {
  display: none;
}

.opt {
  box-sizing: border-box;
  cursor: pointer;
  padding: 8px;
}

.opt.selected {
  color: var(--md-sys-color-on-secondary);
  background-color: var(--md-sys-color-secondary);
}

.opts-list.active {
  overflow: scroll;
}

.filter {
  display: none;
  box-sizing: border-box;
  width: 100%;
  --md-outlined-field-bottom-space: 2px;
  --md-outlined-field-top-space: 2px;
  --md-outlined-field-leading-space: 2px;
  --md-outlined-field-trailing-space: 2px;
}

.select-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: visible;
  line-height: 28px;
}

.backdrop {
  min-height: unset;
  position: fixed;
  inset: 0px;
  width: 100vw;
  height: 100vh;
}
