main,
body {
  overflow: visible;
}

.select-container {
  margin: 8px 0;
  width: 200px;
  position: relative;
  box-sizing: border-box;
  overflow: visible;
}

.select {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  box-sizing: border-box;
  background-color: var(--md-sys-color-surface-variant);
  padding: 8px;
  color: var(--md-sys-color-on-surface-variant);
  font-weight: 500;
  border-radius: 8px;
  overflow: visible;
  min-height: 40px;
}

.select-content {
  overflow: visible;
}

.select-content>.nf {
  overflow: visible;
}

.opts-list {
  margin-top: 8px;
  z-index: 1;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  background-color: var(--md-sys-color-surface-variant);
  color: var(--md-sys-color-on-surface-variant);
  height: 0;
  max-height: 180px;
  overflow: hidden;
  transition: height 0.1s ease;
  border-radius: 8px;
}

.opts-list::-webkit-scrollbar {
  display: none;
}

.opt {
  box-sizing: border-box;
  padding: 8px;
}

.opt.selected {
  color: var(--md-sys-color-on-secondary);
  background-color: var(--md-sys-color-secondary);
}

.opts-list.active {
  overflow: scroll;
}

.filter {
  display: none;
  box-sizing: border-box;
  width: 100%;
}

.select-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
